.pokedex {
    min-height: 100vh;
    background-color: #101011;
    background-image: url('/fp.png');
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-attachment: fixed;
}