.form {
    width: 100%;
    height: auto;
    padding-block: 3em;
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.form__input,
.form__select {
    background-color: #222a;
}